<h1>Sample App</h1>

<p>Hallo <%= @user.name %>,</p>

<p>
  Seit deinem letzten Besuch haben Leute, denen du folgst neue Microposts
  veröffentlicht. Wenn du sie sehen möchtest schaue einfach auf der Webseite
  vorbei.
</p>

<a href="<%= root_url %>">Link zur Webseite</a>

<p>
  Liebe Grüße,<br>
  Fabian
</p>
